body{
  margin: 10px
}
#age-of-craft-random-result span{
  display: inline-block;
  border: solid 2px silver;
  padding: 3px; margin: 5px;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

input[type="radio"],input[type="checkbox"]{visibility: hidden;}
input[type="radio"] ~ span{
  color: #444;
  border: solid 1px white;
  background-color: #f0f0ff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
input[type="radio"]:checked ~ span{
  color: blue;
  background-color: #d0d0ff;
}
input[type="checkbox"]:checked ~ span{
  color: orangered;
  background-color: #ffddaa;
}

section.notice{
  margin: 20px 0px;
  border-top: 1px solid gray;
  font-size: 80%;
  color: #666;
}
.notice a{
  color: #33a;
}

/* カード種類ごとの色分け */
.typeA{border-color: red !important;}
.typeD{border-color: gray !important;}
.typeL{border-color: orange !important;}
.typeN{border-color: violet !important;}
.typeC{border-color: blue !important;}
