body{
  margin: 10px
}
#age-of-craft-random-result span{
  display: inline-block;
  border: solid 1px gray;
  padding: 3px; margin: 5px;
}

section.notice{
  margin: 20px 0px;
  border-top: 1px solid gray;
  font-size: 80%;
  color: #666;
}
.notice a{
  color: #33a;
}
